<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="" />
    <title>Mijn Kind</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet" type="text/css" href="ouderportaal-partou-ver-DFF3B20B771B54EB944E953D5DCC0CFA.css" />
    <link rel="stylesheet" type="text/css" href="jquery.smartbanner-ver-109C905C6C92EAC442BD3ECFB4648E6B.css" />
    <link rel="stylesheet" type="text/css" href="query.fancybox-ver-7D5833BEEF7E37435B1A20D2D00F5111.css" />

    <style>
p {
    font-family: 'Segoe UI Emoji';
    text-rendering: geometricPrecision;
}
    </style>
</head>

<body class="t-partou">
	<div class="l-container">
		<div class="stream-background"></div>

		<section class="l-stream">
			<ul class="stories no-touch" id="id13f8">
                %DATA%
			</ul>
		</section>
	</div>
</body>
</html>
